body {
    background: url(../img/Menu.png) no-repeat center center fixed;
    background-size: 100%; 
    background-color: black;
}
*{
    user-select: none;
}
div{
    font-size: 10rem;
    color:white;
}
.flex-boxik {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    user-select: none;
}
.flex-boxik :hover {
    transition:0.25s;
    font-size: 12rem;
    color: red;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}